Package: com.gilshahar7.pearlfinger
Name: PearlFinger
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Middle finger on failed FaceID.
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
